<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee">
    <servlet>
        <servlet-name>zaserv</servlet-name>
        <servlet-class>affichage.Servlet1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>imageetudiant</servlet-name>
        <servlet-class>etudiant.ImageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>imageetudiantcheck</servlet-name>
        <servlet-class>etudiant.ImageServletCheck</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>download</servlet-name>
        <servlet-class>affichage.ServletDownload</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>downloadGroupe</servlet-name>
        <servlet-class>affichage.ServletDownloadGroupe</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ImpressionRecuServlet</servlet-name>
        <servlet-class>etat.ImpressionRecuServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>zaserv</servlet-name>
        <url-pattern>/zaserv</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>imageetudiant</servlet-name>
        <url-pattern>/imageetudiant</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>imageetudiantcheck</servlet-name>
        <url-pattern>/imageetudiantcheck</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>download</servlet-name>
        <url-pattern>/download</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>downloadGroupe</servlet-name>
        <url-pattern>/downloadGroupe</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ImpressionRecuServlet</servlet-name>
        <url-pattern>/imprimerRecu</url-pattern>
    </servlet-mapping>
</web-app>
